body {
    background-image: url("../bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-position-y: top;
    background-size: 100% auto;
}


#Login {
    text-align: center;
    font-family: Arial, 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    
    border-radius: 30px;
    margin: 10%;
    margin-top: 20%;
    
  }


#inputFieldFormat {
    border-radius: 10px;
    border: 4px solid #fddd69;
    width: 80%;
}

#SignInBtn {
    width: 87%;
    background-color: #fddd69;

    border: 4px solid #fdcd69;
    border-radius: 10px;

    font: white;
}
