.formHolder {
    background-color: rgb(255, 235, 196);
    border-radius: 20px;
    margin: 1rem
}
.Location{
    margin: 1rem;
    background-color: #fff;
    border-color: black;
    border-width: 5px;
}